# gitignore for C++ Builder projects

# ignore all files in the Win32 directory
Win32/*

# ignore all files in the Debug directory
Win32/Debug/*

# ignore all files in the Release directory
Win32/Release/*

# ignore all files in the __history directory
__history/*

# ignore all files in the __astcache directory
__astcache/*

# ignore __recovery directory and all files in the __recovery directory
__recovery/*

# ignore the file *.cbproj.local
*.cbproj.local